/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Header */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 10px;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: #4CAF50;
    margin: 15px 0 10px;
}
.div-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 800;
    color: rgb(240, 235, 228);
    font-size:3rem;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #dfd7d8;
    display: flex;
    flex-direction: column;
}
/* Paragraphs & Links */
p {
    margin: 10px 0;
    background-color: rgb(219, 207, 207);
}

a {
    color: #2196F3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Images */
img {
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 4px;
}

/* Lists */
ul, ol {
    margin-left: 30px;
    margin-bottom: 15px;
    
}
.list-tag {
    background-color: #c9c3c3;
    padding: 10px;
    border-radius: 4px;
}

/* Tables */
table {
    border-collapse: collapse;
    margin: 20px 0;
    width: 100%;
    background-color: #f0ed66;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

/* Form */
form {
    margin: 20px 0;
    background-color: #f2f7b1;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

label {
    display: block;
    margin: 8px 0 4px;
}

input[type="text"], 
input[type="email"], 
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Article */
article {
    background-color: #f7c627;
    padding: 15px;
    margin: 20px 0;
    border-left: 4px solid #4CAF50;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.min {
    font-size: 1.5rem;
    color: #9e9513;
    margin: 10px 0;
}
